@model List<KetNoiCSDL.EF.Menu>
@{
    var submenu = (List<KetNoiCSDL.EF.ProductCategory>)ViewBag.ProductCategory;
}
<header id="header" class="header">
    <!-- Navigation -->
    <div class="navigation">
        <div class="container">
            <nav class="nav__center">
                <div class="nav__header">
                    <div class="nav__logo">
                        <h1>SHOP<span>Nero</span></h1>
                    </div>

                    <div class="nav__hamburger">
                        <span>
                            <svg>
                                <use xlink:href="/Assets/Client/images/sprite.svg#icon-menu"></use>
                            </svg>
                        </span>
                    </div>
                </div>

                <div class="nav__menu">
                    <div class="menu__top">
                        <h1 class="nav__category">SHOP<span>Nero</span></h1>
                        <div class="close__toggle">
                            <svg>
                                <use xlink:href="/Assets/Client/images/sprite.svg#icon-cross"></use>
                            </svg>
                        </div>
                    </div>
                    <ul class="nav__list">
                        @foreach (var item in Model)
                        {
                            <li class="nav__item">
                                <a href="@item.Link" target="@item.Target" class="nav__link">@item.Text</a>
                                @foreach (var cate in submenu)
                                {
                                    if (item.IDMenu == cate.MenuID)
                                    {
                                        <ul>
                                            @foreach (var Item in submenu.Where(x => x.ParentID == null))
                                            {
                                                var child = submenu.Where(x => x.ParentID == Item.ID);
                                                var display = submenu.Where(x => x.DisplayOrder == Item.ID);
                                                var parentClass = child.Count() > 0 ? "class=subMenu" : "";
                                                <li>
                                                    @if (Item.ParentID == null)
                                                    {
                                                        <label for="">@Item.NameCategory</label>


                                                        <div class="subMenu">
                                                            @foreach (var ChildItem in child)
                                                            {
                                                                <a href="/san-pham/@ChildItem.MetaTiile-@ChildItem.ID" title="@ChildItem.NameCategory">
                                                                    @ChildItem.NameCategory
                                                                </a>
                                                            }

                                                        </div>}
                                                </li>
                                            }
                                        </ul>
                                    }
                                }
                            </li>
                        }
                    </ul>

                    <ul class="nav__icons">
                        <a href="#" class="icon__item">
                            <svg>
                                <use xlink:href="/Assets/Client/images/sprite.svg#icon-search"></use>
                            </svg>
                        </a>

                        <a href="#" class="icon__item">
                            <svg>
                                <use xlink:href="/Assets/Client/images/sprite.svg#icon-user"></use>
                            </svg>
                        </a>

                        <a href="#" class="icon__item" id="cart">
                            <svg>
                                <use xlink:href="/Assets/Client/images/sprite.svg#icon-shopping-basket"></use>
                            </svg>
                            <span>2</span>
                        </a>
                    </ul>
                </div>
            </nav>
        </div>

            <a href="#" class="button">Mua Ngay</a>
        </div> <!--end shopping-cart -->
    </div>

    <!-- Hero -->
    <div class="hero">
        <div class="hero__content container">
            <h1>
                <span>Được giảm giá<span class="color">50%</span> cho lần đầu tiên mua sắm</span>
                <span> Cửa hàng trực tuyến SHOP<span class="color">Nero</span></span>
            </h1>
            <a href="#" class="btn btn-hero">shop now</a>
        </div>

        <a href="#category" class="goto__next scroll-link">
            <span>
                <svg>
                    <use xlink:href="/Assets/Client/images/sprite.svg#icon-angle-down"></use>
                </svg>
            </span>
        </a>
    </div>
</header>
<script>
    $("#cart").off('click').on("click", function (e) {
        e.preventDefault();
        $(".shopping-cart").fadeToggle("fast");
    });
</script>