@model KetNoiCSDL.EF.Product
@{
    ViewBag.Title = "Detatil";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var detail = (KetNoiCSDL.EF.ProductDetail)ViewBag.productDetail;
    var related = (List<KetNoiCSDL.EF.Product>)ViewBag.ListRelatedProduct;
}
@section jsFooter{
    <script src="/Assets/Client/js/product.js"></script>
<script src="/Assets/Admin/js/Controller/ProductImageController.js"></script>
}


<!--Bread columns-->
<div class="bread__columns">
    <div class="container">
        <span>Trang chủ > </span>  <span>Chi tiết sản phẩm > </span> <span>NOMOS LUX Glashütte</span>
    </div>

</div>
<!-- Product detail -->
<section class="section product-detail">
    <div class="product-detail__center container">
        <div class="product-detail__box">
            <div class="img-ct" style="height: 70vh; text-align: center;">
                <img src="@Model.Image" id="productImg">
                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="/Data/images/asd/dong-ho-jacques-lemans-jl-1-1654.2ZK-4.jpg" width="100%" class="small-img" />
                    </div>
                    <div class="small-img-col">
                        <img src="/Data/images/asd/dong-ho-jacques-lemans-jl-1-1654.2ZK-6.jpg" width="100%" class="small-img" />
                    </div>
                    <div class="small-img-col">
                        <img src="/Data/images/asd/dong-ho-jacques-lemans-jl-1-1654.2ZK-5.jpg" width="100%" class="small-img" />
                    </div>
                    <div class="small-img-col">
                        <img src="/Data/images/asd/dong-ho-jacques-lemans-jl-1-1654.2ZK-4.jpg" width="100%" class="small-img" />
                    </div>
                    <input type="hidden" id="hidProductID" value="0" />
                </div>
            </div>

        </div>
        <div class="product-detail__box">
            <div class="infos">
                <h2>@Model.Name</h2>
                <div class="reviews">
                    <div class="rating">
                        <span>
                            <svg>
                                <use xlink:href="./images/sprite.svg#icon-star-full"></use>
                            </svg>
                        </span>
                        <span>
                            <svg>
                                <use xlink:href="./images/sprite.svg#icon-star-full"></use>
                            </svg>
                        </span>
                        <span>
                            <svg>
                                <use xlink:href="./images/sprite.svg#icon-star-full"></use>
                            </svg>
                        </span>
                        <span>
                            <svg>
                                <use xlink:href="./images/sprite.svg#icon-star-full"></use>
                            </svg>
                        </span>
                        <span>
                            <svg>
                                <use xlink:href="./images/sprite.svg#icon-star-empty"></use>
                            </svg>
                        </span>
                    </div>

                </div>
                <div class="price">
                    @if (Model.PromotionPrice == null)
                    {
                        <h3>@(Model.Price.GetValueOrDefault(0).ToString("N0")) VNĐ</h3>
                    }
                    else
                    {
                        <h3>@(Model.PromotionPrice.GetValueOrDefault(0).ToString("N0")) VNĐ</h3>
                        <h3>@(Model.Price.GetValueOrDefault(0).ToString("N0")) VNĐ</h3>
                    }
                </div>

                <div id="more-infos">
                    <h4 class="choose">Thông tin cơ bản</h4>
                </div>

                <h3 class="paragraph">
                    <div class="item">
                        <span class="text">Đường kính mặt</span>
                        <span class="text">@detail.DuongKinhMat</span>
                    </div>
                    <div class="item">
                        <span class="text">Độ chịu nước</span>
                        <span class="num">@detail.DoChiuNuoc</span>
                    </div>
                    <div class="item">
                        <span class="text">Chất liệu mặt</span>
                        <span class="num">@detail.ChatLieuMat</span>
                    </div>
                    <div class="item">
                        <span class="text">Năng lượng sử dụng</span>
                        <span class="num">@detail.nangLuong</span>
                    </div>
                </h3>

                <div class="quantity">
                    <h3>Số lượng :</h3>
                    <span class="soluong">@Model.Quantity</span>
                </div>

                <div class="hotline">
                    <span>Gọi đặt mua: </span>
                    <a href="tel:18006005" title="18006005"><span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span> 1800.6005</a>
                    <span>(8:30 - 21:30)</span>
                </div>

                <div class="buttons">
                    <a href="/them-gio-hang?productId=@Model.ID&quantity=1" title="Add to cart" id="add-to-cart">
                        <span><i class="fa fa-shopping-cart"></i>THÊM GIỎ HÀNG</span>
                        <span>Giao hàng miễn phí - Thanh toán tại nhà</span>
                    </a>
                    <a href="#">
                        <span>Trả góp 0% dễ dàng qua thẻ</span>
                        <span>Visa, Master, JCB</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- information -->

<section class="section information">
    <div class="information__center container">
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'tab-info1')" style="margin-left: 3rem;">MÔ TẢ</button>
            <button class="tablinks" onclick="openCity(event, 'tab-info2')" style="margin-left: 3rem;">CHẾ ĐỘ BẢO HÀNH & HẬU MÃI</button>
        </div>

        <div id="tab-info1" class="tabcontent" style="display: block;">
            <div class="Describe__center">
                <div class="box__title">
                    <div class="thong-tin-san-pham">
                        <p><strong>Đường kính mặt:</strong> <a href="#" target="_blank" rel="noopener noreferrer" data-wpel-link="internal">@detail.DuongKinhMat</a></p>
                        <p><strong>Chống nước:</strong> <a href="#" target="_blank" rel="noopener noreferrer" data-wpel-link="internal">@detail.DoChiuNuoc</a></p>
                        <p><strong>Chất liệu mặt:</strong> @detail.ChatLieuMat</p>
                        <p><strong>Năng lượng sử dụng:</strong> @detail.nangLuong</p>
                        <p><strong>Size dây:</strong> <a href="#" target="_blank" rel="noopener noreferrer" data-wpel-link="internal">@detail.SizeDay</a></p>
                        <p><strong>Chất liệu dây:</strong> <a href="#" target="_blank" rel="noopener noreferrer" data-wpel-link="internal">@detail.ChatLieuDay</a></p>
                        <p><strong>Kiểu dáng:</strong> @detail.KhieuDang</p>
                        <p><strong>Bảo Hành Tại Hải Triều:</strong> 5 Năm</p>
                        <p><strong>Xuất xứ:</strong> @detail.XuatXu</p>
                        <p><strong>Bề Dày Mặt Số:</strong> 9mm</p>
                        <p><strong>Chế độ bảo hành:</strong> <a href="#" target="_blank" rel="noopener noreferrer" data-wpel-link="internal">@detail.CheDoBaoHanh</a></p>
                    </div>
                </div>
                <div class="box__img" style="flex-basis: 70%;">
                    @Html.Raw(Model.Detail)
                </div>


            </div>

        </div>

        <div id="tab-info2" class="tabcontent">
            <span style="font-size: 14pt; font-family: 'courier new', courier, monospace;">Chế Độ Bảo Hành</span>
            @Html.Raw(Model.Description)
        </div>



</section>

<!-- featured -->
<section class="section featured" id="featured">
    <div class="featured__container container">
        <div class="title-row">
            <h2>Đồng hồ có thể bạn sẻ thích</h2>
            <p>xem ngay</p>
        </div>
        <div class="featured__center">
            @foreach (var item in related)
            {
                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                if (item.PromotionPrice == null)
                {
                    <div class="product">
                        <div class="img__container">
                            <a href="@url" title="@item.Name">
                                <img src="@item.Image" alt="" />
                            </a>
                        </div>
                        <div class="product__bottom">
                            <div class="rating">
                                <span>
                                    <svg>
                                        <use xlink:href="/Assets/Client/images/sprite.svg#icon-star-full"></use>
                                    </svg>
                                </span>
                                <span>
                                    <svg>
                                        <use xlink:href="/Assets/Client/images/sprite.svg#icon-star-full"></use>
                                    </svg>
                                </span>
                                <span>
                                    <svg>
                                        <use xlink:href="/Assets/Client/images/sprite.svg#icon-star-full"></use>
                                    </svg>
                                </span>
                                <span>
                                    <svg>
                                        <use xlink:href="/Assets/Client/images/sprite.svg#icon-star-full"></use>
                                    </svg>
                                </span>
                                <span>
                                    <svg>
                                        <use xlink:href="/Assets/Client/images/sprite.svg#icon-star-empty"></use>
                                    </svg>
                                </span>
                            </div>
                            <h3>@item.Name</h3>
                            <div class="price">
                                <span class="price__two">@(item.Price.GetValueOrDefault(0).ToString("N0"))<span class="dong">₫</span></span>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="product">
                        <div class="img__container">
                            <a href="@url" title="@item.Name">
                                <img src="@item.Image" alt="" />
                            </a>
                        </div>
                        <div class="product__bottom">
                            <div class="rating">
                                <span>
                                    <svg>
                                        <use xlink:href="/Assets/Client/images/sprite.svg#icon-star-full"></use>
                                    </svg>
                                </span>
                                <span>
                                    <svg>
                                        <use xlink:href="/Assets/Client/images/sprite.svg#icon-star-full"></use>
                                    </svg>
                                </span>
                                <span>
                                    <svg>
                                        <use xlink:href="/Assets/Client/images/sprite.svg#icon-star-full"></use>
                                    </svg>
                                </span>
                                <span>
                                    <svg>
                                        <use xlink:href="/Assets/Client/images/sprite.svg#icon-star-full"></use>
                                    </svg>
                                </span>
                                <span>
                                    <svg>
                                        <use xlink:href="/Assets/Client/images/sprite.svg#icon-star-empty"></use>
                                    </svg>
                                </span>
                            </div>
                            <h3>@item.Name</h3>
                            <div class="price">
                                <span class="price__one">@(item.Price.GetValueOrDefault(0).ToString("N0")) <span class="dong">₫</span></span>
                                <span class="price__two">@(item.PromotionPrice.GetValueOrDefault(0).ToString("N0"))<span class="dong">₫</span></span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

</section>

