@model PagedList.IPagedList<KetNoiCSDL.EF.User>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="/Assets/Admin/js/Controller/UserController.js"></script>
}
<h2>Danh Sách Người Dùng</h2>

<div class="row">
    @using (Html.BeginForm("Index", "User", FormMethod.Post))
    {
        <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" value="@ViewBag.ChuoiTimKiem" name="searchString" />
                <input type="submit" value="Tìm kiếm" class="input-group-append" style="margin-right:50px;" />
                <a class="btn btn-primary" href="/Admin/User/Insert">Thêm mới</a>
            </div>
        </div>
    }
    <div class="col-sm-12">
        <table class="table table-bordered dataTable" id="dataTable">
            <thead>
                <tr>

                    <th>Tài Khoản</th>
                    <th>Tên</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>User Group</th>
                    <th>trạng thái</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row_@item.ID">

                        <td>@item.Username</td>
                        <td>@item.Name</td>
                        <td>@item.Address</td>
                        <td>@item.Phone</td>
                        <td>@item.Email</td>
                        <td>@item.GroupID</td>
                        <td><a href="#" class="btn-success" data-id="@item.ID">@(item.Status ? "Kích hoạt" : "Khóa")</a></td>
                        <td>
                            <a href="/Admin/User/Update/@item.ID">Sửa</a>

                            @*Ajax xóa ID*@
                            @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                       {
                           Confirm = "Bạn vó muốn xóa người dùng này?",
                           OnComplete = "$('#row_'" + item.ID + "').remove()",
                           HttpMethod = "Delete"

                       })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                    <ul class="pagination">
                        <li class="paginate_button page-item active">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @class = "page-link", @searchString = ViewBag.ChuoiTimKiem }))
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>


