@model KetNoiCSDL.EF.ProductDetail
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var product = (KetNoiCSDL.EF.Product)ViewBag.Product;
}

<h2 style="text-align:center">Chi Tiết Sản Phẩm</h2>
<style>
    .container .flex {
        display: flex;
    }

    .left {
        width: 50%;
        border-right: 1px solid #808080;
    }

        .left ul {
            margin: 0;
            padding: 0;
        }

            .left ul li {
                list-style: none;
                display: flex;
            }

                .left ul li span {
                    color: #e99e27;
                    margin-right: 5px;
                    width: 40%;
                    padding: 5px 0;
                }
</style>
<section>
    <div class="container">
        <div class="flex">
            <div class="left">
                <ul>
                    <li><span>Chất liệu dây : </span>@Model.ChatLieuDay</li>
                    <li><span>Chất liệu mặt: </span>@Model.ChatLieuMat</li>
                    <li><span>Chất liệu vỏ: </span>@Model.ChatLieuVo</li>
                    <li><span>Chế độ bảo hành:</span>@Model.CheDoBaoHanh</li>
                    <li><span>Độ chịu nước:</span>@Model.DoChiuNuoc</li>
                    <li><span>Đường kính Mắt:</span>@Model.DuongKinhMat</li>
                    <li><span>Kiểu dáng:</span>@Model.KhieuDang</li>
                    <li><span>Năng lượng:</span>@Model.nangLuong</li>
                    <li><span>Size dây:</span>@Model.SizeDay</li>
                    <li><span>Xuất xứ:</span>@Model.XuatXu</li>
                </ul>
                <ul>
                    <li><span> tên sản phẩm : </span>@product.Name</li>
                    <li><span>Mã sản phẩm : </span>@product.Code</li>
                    <li><span>Ảnh : </span><img src="@product.Image" style="width:70px;height:70px;" /></li>
                    <li><span>Giá sản phẩm : </span>@product.Price.GetValueOrDefault(0).ToString("N0") đ</li>
                    <li><span>Giá khuyến mãi : </span>@product.PromotionPrice.GetValueOrDefault(0).ToString("N0") đ</li>
                    <li><span>Số lượng : </span>@product.Quantity</li>
                    <li style="width: 100%;height: 250px;display: block;white-space: nowrap;overflow: scroll;"><span>Chi tiết sản phẩm : </span>@Html.Raw(product.Detail)</li>
                    <li><span>Ngày tạo sản phẩm : </span>@product.CreatedDate</li>
                    <li><span>Ngày sản phẩm Hot : </span>@product.TopHot</li>
                    <li style="width: 100%;height: 250px;display: block;white-space: nowrap;overflow: scroll;padding-top:30px;position:relative"><span style="position:absolute;top:0">Chế bảo hành : </span>@Html.Raw(product.Description)</li>
                </ul>
            </div>
            <div class="right">
                @using (Html.BeginForm("Detail", "Product", FormMethod.Post))
                {
                    <div class="form" style="margin-left:100px">
                       

                            <div class="item">
                                <p class="label">Chất liệu dây</p>
                                <input type="text" name="chatlieuday" id="txt_chatlieuday" placeholder="@Model.ChatLieuDay" value="@Model.ChatLieuDay">
                            </div>
                            <div class="item">
                                <p class="label">Chất liệu mặt</p>
                                <input type="text" name="chatlieumat" id="txt_chatlieumat" placeholder="@Model.ChatLieuMat" value="@Model.ChatLieuMat">
                            </div>

                            <div class="item">
                                <p class="label">Chất liệu vỏ</p>
                                <input type="text" value="@Model.ChatLieuVo" name="chatlieuvo" id="txt_chatlieuvo" placeholder="@Model.ChatLieuVo">
                            </div>
                            <div class="item">
                                <p class="label">Độ chịu nước</p>
                                <input type="text" name="dochiunuoc" value="@Model.DoChiuNuoc" placeholder="@Model.DoChiuNuoc">
                            </div>
                            <div class="item">
                                <p class="label">Đường mặt kính</p>
                                <input type="text" name="duongmatkinh" value="@Model.DuongKinhMat" placeholder="@Model.DuongKinhMat">
                            </div>
                            <div class="item">
                                <p class="label">Kiểu dáng</p>
                                <input type="text" name="kieudang" value="@Model.KhieuDang" placeholder="@Model.KhieuDang">
                            </div>
                            <div class="item">
                                <p class="label">Năng lượng</p>
                                <input type="text" name="nangluong" value="@Model.nangLuong" placeholder="@Model.nangLuong">
                            </div>
                            <div class="item">
                                <p class="label">Size Dây</p>
                                <input type="text" name="sizeday" value="@Model.SizeDay" placeholder="@Model.SizeDay">
                            </div>
                            <div class="item">
                                <p class="label">Xuất xứ</p>
                                <input type="text" name="xuatxu" value="@Model.XuatXu" placeholder="@Model.XuatXu">
                            </div>
                            <div class="item">
                                <p class="label">Chế độ bảo hành</p>
                                <input type="text" name="chedobaohanh" value="@Model.CheDoBaoHanh" placeholder="@Model.CheDoBaoHanh">
                            </div>

                            <div class="cb h10"></div>
                            <button class="btn btn-primary" name="detail" value="1" type="submit" style="margin-top:10px;border:none;">
                                <p class="">Cập nhật</p>
                            </button>
           
                    </div>
                    @*Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Product</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)

                            <div class="form-group">
                                @Html.LabelFor(model => model.ChatLieuDay, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.ChatLieuDay, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ChatLieuDay, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>*@
                }
            </div>
        </div>
</section>

