@model KetNoiCSDL.EF.Product

@{
    ViewBag.Title = "Insert";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var detail = (KetNoiCSDL.EF.ProductDetail)ViewBag.productDetail;
}
<style>
    .form-horizontal {
        width: 800px;
        margin: 80px auto;
    }

        .form-horizontal .form-group {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            .form-horizontal .form-group .col-md-10 {
                width: 50px;
            }
</style>
@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();//bỏ qua dấu thăng
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/Assets/Admin/plugins/ckeditor/config.js',
        });
        var editor = CKEDITOR.replace('txtContentN', {
            customConfig: '/Assets/Admin/plugins/ckeditor/config.js',
        });
    </script>
}
@section UploadImage{
    <script>
        $(function () {
            // đăng ký sự kiện click nút upload
            $('#SelectImage').click(function () {
                $('#fileUpload').trigger('click');
            })
            //Bắt sự kiện cảu change data của fileUpload
            $('#fileUpload').change(function () {
                // kiểm tra trình duyệt có hỗ trợ FormData object hay không
                // !== là phép so sánh tuyệt đối
                if (window.FormData !== undefined) {
                    // lấy dữ liệu rên file Upload
                    var fileUpload = $('#fileUpload').get(0); // get(0) lấy control đầu tiên
                    var files = fileUpload.files;//lấy các tập tin trên đó
                    // tạo đối tượng formdata
                    var formData = new FormData();
                    // đưa dữ liệu vào form
                    formData.append('file', files[0]);// lấy đầu tiên tropng tập tin khi upload 1 thì chỉ nhận đc 1
                    //Post lên server
                    $.ajax({
                        type: 'POST',
                        url: '/Admin/Content/UploadImage',
                        contentType: false, // không có header
                        processData: false, //không sử lý dữ liệu
                        data: formData,
                        success: function (url) {
                            $('#txtImage').val(url);
                        }
                        , error: function (err) {
                            alert('có lỗi khi upload: ' + err.statusText);
                        }
                    });
                }
            })
        })
    </script>
}


@using (Html.BeginForm("Insert", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" }, @id = "txtImage" })
                <input type="file" id="fileUpload" accept="image/*" name="fileUplad" style="display:none" /> <!--Hiển thị hộp thoại thư mục từ máy tính-->
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                <input type="button" id="SelectImage" class="btn btn-secondary" value="..." />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PromotionPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PromotionPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PromotionPrice, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CategoryID, ViewBag.ProductCategoryID as SelectList, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Detail, new { htmlAttributes = new { @class = "form-control" }, @id = "txtContent" })
                @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" }, @id = "txtContentN" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TopHot, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TopHot, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TopHot, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(Model => detail.ChatLieuDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(Model => detail.ChatLieuDay, new { htmlAttributes = new { @class = "form-control" }, @name = "chatlieuday" })
                @Html.ValidationMessageFor(Model => detail.ChatLieuDay, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Chất liệu dây</label>
            <div class="col-md-10">
                <input type="text" name="chatlieuday" id="txt_chatlieuday" placeholder="@detail.ChatLieuDay" value="@detail.ChatLieuDay">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Chất liệu mặt</label>
            <div class="col-md-10">
                <input type="text" name="chatlieumat" id="txt_chatlieumat" placeholder="@detail.ChatLieuMat" value="@detail.ChatLieuMat">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Đường kính mặt</label>
            <div class="col-md-10">
                <input type="text" name="duongkinhmat" id="txt_dungkinhmat" placeholder="@detail.DuongKinhMat" value="@detail.DuongKinhMat">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Độ chịu nước</label>
            <div class="col-md-10">
                <input type="text" name="dochiunuoc" id="txt_dochiunuoc" placeholder="@detail.DoChiuNuoc" value="@detail.DoChiuNuoc">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Năng lượng</label>
            <div class="col-md-10">
                <input type="text" name="nangluong" id="txt_nangluong" placeholder="@detail.nangLuong" value="@detail.nangLuong">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Kiểu dáng</label>
            <div class="col-md-10">
                <input type="text" name="khieudang" id="txt_khieudang" placeholder="@detail.KhieuDang" value="@detail.KhieuDang">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Xuất xứ</label>
            <div class="col-md-10">
                <input type="text" name="xuatxu" id="txt_xuatxu" placeholder="@detail.XuatXu" value="@detail.XuatXu">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Size dây</label>
            <div class="col-md-10">
                <input type="text" name="sizeday" id="txt_sizeday" value="@detail.SizeDay">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Chất liệu vỏ</label>
            <div class="col-md-10">
                <input type="text" name="chatlieuvo" id="txt_chatlieuvo"value="@detail.ChatLieuVo">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Chế độ bảo hành</label>
            <div class="col-md-10">
                <input type="text" name="chedobaohanh" id="txt_chedobaohanh" placeholder="@detail.CheDoBaoHanh" value="@detail.CheDoBaoHanh">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
